/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #f30808;
    color: #ffffff;
    background-image: url('../images/pumpkinswp.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    font-family: "Metal Mania", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .style {
    font-family: sans-serif;
  }

  /* Wrapper */

  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 28em; 
    padding: 2em 2.5em;
    background-color: rgba(170, 3, 3, 0.4);
    border-radius: 0.6em;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
    text-align: center;
  }

  /* Modal Styles */
  .modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background: #880808;
    color: white;
    padding: 2em;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  }

  .modal h2 {
    font-size: 2.2em;
  }

  .modal P {
    font-size: 1.2em;
  }

  .modal ul {
    text-align: left;
    margin: 1em 0;
    font-size: 1.2em;
  }

  .modal button {
    padding: 0.4em 1em;
    font-size: 1.2em;
    margin-top: 1em;
  }


  .game-title {
    font-size: 2.5em;
    color: #ffffff;
    margin-bottom: 1em;
  }

  .stats-container {
    text-align: right;
    margin-bottom: 1.2em;
  }

  .stats-container span {
    font-weight: 600;
  }

  /* Game Container */

  .game-container {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, 1fr); /* 4 cards per row by default */
  }

  /* Cards */

  .card-container {
    position: relative;
    width: 100%;
    height: 6em; 
    cursor: pointer;
  }

  .card-before,
  .card-after {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #000000;
  transition: transform 0.7s ease-out;
  backface-visibility: hidden;
}

.card-before {
  background-color: #565764;
  font-size: 2.8em;
  font-weight: 600;
}

.card-after {
  background-color: #ffffff;
  transform: rotateY(180deg);
}

.card-container.flipped .card-before {
  transform: rotateY(180deg);
}
.card-container.flipped .card-after {
  transform: rotateY(0deg);
}

/* Controls */

.controls-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #880808; 
}

button {
  padding: 1em 2em;
  border-radius: 0.3em;
  cursor: pointer;
  margin: 0.5em 0;
}

#stop {
  font-size: 1.1em;
  background-color: #000000;
  color: #ffffff;
}

.controls-container button {
  font-size: 1.3em;
  box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
}

.hide {
  display: none;
}
#result {
  text-align: center;
}
#result h2 {
  font-size: 2.5em;
}
#result h4 {
  font-size: 1.8em;
  margin: 0.6em 0 1em 0;
}

/* Media Queries */
  
  /* For smaller devices */
  @media (max-width: 400px) {
    .style {
      font-size: 80%;
    }
    
    .game-title {
      font-size: 2em;
    }
  
    .game-container {
      grid-template-columns: repeat(3, 1fr); 
    }

    .image {
        height: 100%;
        width: 100%;
    }
  
    .card-container {
      height: 5em; 
      width: 120%;
    }
  
    button {
      font-size: 1.1em;
      padding: 0.8em 1.2em;
    }
  
    #stop {
      font-size: 1em;
    }
  
    #result h2 {
      font-size: 2em;
    }
  
    #result h4 {
      font-size: 1.5em;
    }
  }


  @media screen and (min-width: 401px) and (max-width: 768px) {
    .style {
      font-size: 90%;
    }
    
    .game-container {
      grid-template-columns: repeat(4, 1fr); 
    }

    .image {
        height: 100%;
        width: 100%;
    }
  
  
    .card-container {
      height: 5em; 
      width: 100%;
    }
  }

  @media (min-width: 769px) {
    .game-container {
      grid-template-columns: repeat(5, 1fr); 
    }

    .image {
        height: 100%;
        width: 100%;
    }
  
  
    .card-container {
      height: 7em; 
    }
  }